name: Build and Send to Telegram

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew assembleDebug

      - name: Send APK to Telegram
        run: |
          # البحث عن ملف الـ APK وتخزين مساره
          APK_PATH=$(find app/build/outputs/apk/debug -name "*.apk" | head -n 1)
          
          # إرسال الملف إلى بوت تليجرام الخاص بك
          curl -v -F document=@"$APK_PATH" \
          "https://api.telegram.org/bot7283584002:AAFHmrwUeN6lqYPZiY3XetbdP5Pu363Yh6A/sendDocument?chat_id=6818088581&caption=✅ تم بناء تطبيق الكيبورد بنجاح! جاهز للتثبيت."

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v2.2.0
        with:
          name: APK
          path: app/build/outputs/apk/debug/*.apk
